body {
    background-color: black;
}


.social {
    width: 30px;
    margin: 50px;
    margin-top: 0px;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    text-align: center;
    margin-top: 50px;
    vertical-align: middle;
    text-decoration: none;
    width: full;
    display: flex;
    top: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.topnav.hidden {
    opacity: 0;
}

.topnav a {
    display: inline-block;
    margin: 1px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    color: white;
}

.header {
    color: gray;
    text-align: center;
    font-family: Andalé-Mono, monospace;
    font-size: 200%;
    margin-top: 150px;
}



.fade-out-background {
    background-image: url(120950-earth-globe-atmosphere-horizon-sunrise-blue-dark-background-hd.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
    opacity: 1;
    z-index: -1;
    top: 0;
    left: 0;
    position: fixed;
}



.header2 {
    color: gray;
    text-align: center;
    font-family: Andalé-Mono, monospace;
    font-size: 200%;
    margin-top: 80px;
}

.projects {
    color: gray;
    text-align: center;
    font-family: Andalé-Mono, monospace;
    font-size: 200%;
    margin-top: 40%;
}

.header3 {
    opacity: 1;
    color: gray;
    text-align: center;
    font-family: Andalé-Mono, monospace;
    font-size: 200%;
    margin-top: 50%;
    position: relative;
    z-index: 1;
}


.scroll-btns {
    display: flex;
    text-align: center;
    margin-top: 45%;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
}

.scroll-btns button {
    font-family: Andalé-Mono, monospace;
    font-size: 24px;
    color: gray;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    border: 2px dashed gray;
    border-radius: 12px;

}

.header3 .scraper {
    font-size: 24px;
}

.header3.map {
    font-size: 24px;
    margin-top: 200px;
}

.tetris {
    opacity: 1;
    color: gray;
    text-align: center;
    font-family: Andalé-Mono, monospace;
    font-size: 200%;
    margin-top: 200px;
    position: relative;
    z-index: 1;
}

.tetris .tetris2 {
    font-size: 24px;
}

.tetris .tetris2 .tetrispic img {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    width: 30%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    background-color: transparent;
    opacity: 1;
    z-index: -1;
    top: 0;
    left: 0;
    position: relative;
}

.sudoku {
    opacity: 1;
    color: gray;
    text-align: center;
    font-family: Andalé-Mono, monospace;
    font-size: 200%;
    margin-top: 200px;
    position: relative;
    z-index: 1;
}

.sudoku .sudoku2 {
    font-size: 24px;
}

.sudoku .sudoku2 .sudokupic img {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    width: 30%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    background-color: transparent;
    opacity: 1;
    z-index: -1;
    top: 0;
    left: 0;
    position: relative;
}

.CanvasBot .CanvasBot2 {
    font-size: 24px;
}

.button {
    background-image: url('fullscreen.png');
    background-size: cover;
    z-index: 9999;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: black;
}

.balls {
    opacity: 1;
    color: gray;
    text-align: center;
    font-family: Andalé-Mono, monospace;
    margin-top: 200px;
    position: relative;
    z-index: 1;
}

.balls .balls2 {
    font-size: 24px;
}

.balls .balls2 .ballspic img {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    width: 30%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    background-color: transparent;
    opacity: 1;
    z-index: -1;
    top: 0;
    left: 0;
    position: relative;
}

.numbers {
    opacity: 1;
    color: gray;
    text-align: center;
    font-family: Andalé-Mono, monospace;
    margin-top: 200px;
    position: relative;
    z-index: 1;
}

.numbers .nums {
    font-size: 24px;
}

.numbers .nums .numspic img {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    width: 40%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    background-color: transparent;
    opacity: 1;
    z-index: -1;
    top: 0;
    left: 0;
    position: relative;
}

#exit-fullscreen-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;
    opacity: 0;
    /* start with the button hidden */
    transition: opacity 0.3s ease-in-out;
    background-image: url('exitfull.png');
    background-color: transparent;
    border: none;
}

#fullscreen-button {
    border: none;
    background-image: url("fullscreen.png");
    background-color: transparent;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}